body {
    width: 100%;
    height: 100%;
}

#primary-nav {
    color: #fff;
    height: 30px;
    line-height: 50px;
    margin-bottom: 0px !important;
    border-radius: 0px;
}

.fa {
    padding-right: 15px;
}

#contacts {
    letter-spacing: .1em;
}

#secondary-nav {
    background-color: #fff;
    height: 80px;
    line-height: 50px;
    margin-bottom: 0px !important;
    border-bottom: thin solid #000;
    border-radius: 0px;
}
.navbar-form {
    margin-top: 0px !important;
}

input.form-control {
    width: 300px !important;
    line-height: 50px;
}


/*.col-sm-4 h3 {
    padding-left: 29px;
    font-size: 24px;
}

.col-sm-4 span {
    padding-left: 100px;
    font-size: 16px;
    font-weight: 200;
}

.wines {
    padding: 30px;
}

span.highlight{
    background-color: #eee;
    padding: 0px;
}

#filter, #category, #price, #collections, #brand, #flavor, #food-pairing, #country {
    border-right: thin solid #eee;
    border-bottom: thin solid #eee;
}

.categories, .collections {
    padding: 10px 50px 50px 50px;
}

.prices {
    padding: 20px 10px 10px 10px;
}

input.form {
    text-align: center;
    width: 5em;
    height: 3em;
}

.min-max {
    padding-right: 5em;
}

#price {
    padding-bottom: 3em;
}

#brand, #flavor, #food-pairing, #country {
    padding-bottom: 1em;
}*/

form.form-inline.navbar-right {
    display: flow-root;
    margin-right: -300px;
    margin-top: 10px;
}

.left{
    float: left;
    max-width: 300px;
    margin-left: 50px;
    border-right: thin solid #eee;
}

article {
    border-left: thick solid #000;
}

.wine-display p {
    display: flow-root;
    margin-top: 0px;
    margin-bottom: 0px;
}

#sortByFeatured {
    float: right;
    padding: 5px;
    margin-right: 60px;
}
