body {
    width: 100%;
    height: 100%;
}

#primary-nav {
    color: #fff;
    height: 30px;
    line-height: 50px;
    margin-bottom: 0px !important;
    border-radius: 0px;
}

.fa {
    padding-right: 15px;
}

#contacts {
    letter-spacing: .1em;
    font-family: Avenir-Book;

}

#secondary-nav {
    background-color: #fff;
    height: 80px;
    line-height: 50px;
    margin-bottom: 0px !important;
    border-bottom: thin solid #eee;
    border-radius: 0px;
}
.navbar-form {
    margin-top: 0px !important;
}

input.form-control {
    width: 300px !important;
    line-height: 50px;
}

form.form-inline.navbar-right {
    display: flow-root;
    margin-right: -300px;
    margin-top: 10px;
}

.left{
    float: left;
    max-width: 359px;
    margin-left: 10px;
    padding-left: 10px;
    border-right: thin solid #eee;
    /*border-left: thin solid #eee;*/
}

article {
    display: flow-root !important;
}

.wines h3 {
    margin: 20px 10px 20px 29px;
    font-family: Avenir;

}

.wines u span {
    font-family: Avenir-Book;
    font-size: 17px;
    font-weight: 100;
    padding-left: 99px;

}

.filtering-items {
    width: 300px;
    height: 67px;
    margin: 21px 70px 75px 29px;
    font-family: Avenir-Book;
    font-size: 17px;

}

span.highlight{
    background-color: #eee;
    padding: 0px;

}

.highlight1 {
    width: 118px;
	height: 26px;
    padding: 2px 33px 1px 10px;
    opacity: 0.3;
	border-radius: 4px;
	background-color: #e8eaf1;
    
}

.highlight2 {
    width: 120px;
	height: 26px;
    /*padding: 2px 33px 1px 10px;*/
	opacity: 0.3;
	border-radius: 4px;
	background-color: #e8eaf1;
}

.highlight3 {
    width: 145px;
	height: 26px;
    padding: 2px 20px 1px 10px;
    margin-top: 5px;
	opacity: 0.3;
	border-radius: 4px;
	background-color: #e8eaf1;
}

.highlight4 {
    width: 92px;
	height: 26px;
    padding: 2px 33px 1px 10px;
	opacity: 0.3;
	border-radius: 4px;
	background-color: #e8eaf1;
    margin-top: 5px;
}

.categories {
    height: 300px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 0px !important;
	width: 21px;
	height: 21px;
	border: solid 1px #979797;
}

.wine-display {
    margin-left: 50px;
    margin-top: 56px;
    font-family: Avenir;

}

.wine-display p {
    display: flow-root;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wine-bottles {
    margin-top: 80px;
}

#sortByFeatured {
    float: right;
    padding: 9px 120px 8px 23px;
    height: 40px;
    width: 266px;
    margin-right: 69px;
    font-family: Avenir-Book;

}
