body {
    width: 100%;
    height: 100%;
}

#primary-nav {
    color: #fff;
    height: 30px;
    line-height: 50px;
    margin-bottom: 0px !important;
    border-radius: 0px;
}

.fa {
    padding-right: 15px;
}

#contacts {
    letter-spacing: .1em;
    font-family: Avenir-Book;

}

#secondary-nav {
    background-color: #fff;
    height: 80px;
    line-height: 50px;
    margin-bottom: 0px !important;
    border-bottom: thin solid #eee;
    border-radius: 0px;
}
.navbar-form {
    margin-top: 0px !important;
}

input.form-control {
    width: 300px !important;
    line-height: 50px;
}

form.form-inline.navbar-right {
    display: flow-root;
    margin-right: -300px;
    margin-top: 10px;
}

.left{
    float: left;
    max-width: 359px;
    border-right: 2px solid #eee;
}

article {
    display: flow-root !important;
}

.wines h3 {
    margin: 20px 10px 20px 29px;
    font-family: Avenir;
    font-size: 24px;
	font-weight: 900;

}

.wines u span {
    width: 65px;
	height: 23px;
    font-family: Avenir-Book;
    font-size: 17px;
    font-weight: 100;
    padding-left: 90px;
	font-weight: normal;
}

.filtering-items {
    width: 300px;
    height: 67px;
    margin: 21px 70px 75px 29px;
    font-family: Avenir-Book;
    font-size: 17px;
}

span.highlight{
    background-color: #eee;
    padding: 0px;

}

.highlight1 {
    width: 118px;
	height: 26px;
    padding: 2px 33px 1px 10px;
    /*opacity: 0.3;*/
	border-radius: 4px;
	background-color: #e8eaf1;
    margin-bottom: 5px;
}


.highlight2 {
    width: 120px;
	height: 26px;
    /*padding: 2px 33px 1px 10px;*/
	/*opacity: 0.3;*/
	border-radius: 4px;
	background-color: #e8eaf1;
    margin-bottom: 10px;
}

.highlight3 {
    width: 145px;
	height: 26px;
    padding: 2px 20px 1px 10px;
    margin-top: 5px;
	/*opacity: 0.3;*/
	border-radius: 4px;
	background-color: #e8eaf1;
}

.highlight4 {
    width: 92px;
	height: 26px;
    padding: 2px 33px 1px 10px;
	/*opacity: 0.3;*/
	border-radius: 4px;
	background-color: #e8eaf1;
    margin-top: 5px;
}

.categories {
    height: 300px;
}

.categories h3 {
    width: 104px;
	height: 33px;
	font-family: Avenir;
	font-size: 24px;
	font-weight: 900;
    margin: 31px 212px 41px 43px;
}

.checkbox {
    margin: 0px 118px 50px 41px;
    font-family: Avenir-Book;
	font-size: 17px;
    padding-left: 5px;
}

label {
    margin-left: 10px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
	border: solid 1px #979797;
    margin-left: 0px !important;
    margin-right: 10px !important;
}

.wine-display {
    margin-left: 50px;
    margin-top: 56px;
    font-family: Avenir;

}

.wine-display p {
    display: flow-root;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wine-bottles {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.prices h3 {
    width: 56px;
    height: 33px;
    margin: 27px 260px 28px 44px;
    font-family: Avenir;
    font-size: 24px;
	font-weight: 900;

}

.min-max {
    margin: 0px 86px 50px 44px;
    font-family: Avenir-Book;

}

.min-max input.form{
    width: 65px;
	height: 49px;
	border: solid 1px #ced0da;
    padding-left: 15px;
}

#zero-input, #max-input {
    margin-right: 6px;
}

#max-input {
    margin-left: 5px;
}

.collections h3 {
    margin: 28px 192px 40px 44px;
    width: 124px;
	height: 33px;
	font-family: Avenir;
	font-size: 24px;
	font-weight: 900;
}

.brand {
    width: 67px;
	height: 33px;
	font-family: Avenir;
	font-size: 24px;
	font-weight: 900;
    margin: 27px 249px 27px 44px;
}

.flavor {
    width: 70px;
	height: 33px;
	font-family: Avenir;
	font-size: 24px;
	font-weight: 900;
    margin: 27px 246px 27px 44px;
}

.food-pairing {
    width: 150px;
    height: 33px;
    font-family: Avenir;
    font-size: 24px;
    font-weight: 900;
    margin: 27px 172px 27px 44px;
}

.country {
    width: 90px;
	height: 33px;
	font-family: Avenir;
	font-size: 24px;
	font-weight: 900;
    margin: 27px 226px 27px 44px;
}

.bottle-description {
    font-family: Avenir-Book;
    font-size: 12px;
    text-align: center;
}

.bottle-description p {
    margin-top: 20px;
}

#sortByFeatured {
    float: right;
    padding: 9px 120px 8px 23px;
    height: 40px;
    width: 266px;
    margin-right: 69px;
    font-family: Avenir-Book;

}
