body {
    background-color: #162a60;
    background-image: url(../images/pattern.png);
    width: 100%;
    height: 100%;
}

h1 {
    margin: 100px 0px 0px 100px;
    font-family: "Helvetica Neue";
    font-size: 36px;
    font-weight: 100;
    color: #fff;

}

.grid-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 100px 100px 100px;;
    align-items: center;
}

.home {
    background-color: #3387ea;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-image: url(../images/home.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.about {
    background-color: #f9be3e;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-image: url(../images/about.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.portfolio {
    background-color: #d3573e;
    width: 400px;
    height: 150px;
    margin: 5px;
    background-image: url(../images/portfolio.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.photos {
    background-color: #59b0e2;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-image: url(../images/photos.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.testimonials {
    background-color: #33af95;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-image: url(../images/testimonials.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.hire {
    background-color: #86a73f;
    width: 400px;
    height: 150px;
    margin: 5px;
    background-image: url(../images/hire.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.nouncy {
    background-color: #151a26;
    width: 470px;
    height: 150px;
    margin: 5px;
}

.contact {
    background-color: #7e5b8c;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-image: url(../images/contact.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.facebook {
    background: #004088;
    width: 80px;
    height: 80px;
    margin: 5px;
    background-image: url(../images/facebook.png);
}

.twitter {
    background: #02abe3;
    width: 80px;
    height: 80px;
    margin: 5px;
    background-image: url(../images/twitter.png);
}

.google {
    background: #f04623;
    width: 80px;
    height: 80px;
    margin: 5px;
    background-image: url(../images/google+.png);
}

.copyright {
    background-image: url(../images.copyright.png);
    z-index: 1;
}

p {
    padding: 100px 0px 0px 10px;

}
